@charset "utf-8";
/* 重置公用 */
html{ background:#f4f4f4;}
.l-fix:after,.proList li:after{content:"";visibility:hidden;display:block;height:0;clear:both;}.l-fix,.proList li{*zoom:1;}
.warp{width:1000px; margin:auto;}
.l,.fl,.sfl{ float:left;}
.r,.fr{ float:right;}
.tc{ text-align:center;}
.m01{ margin-top:10px;}
.none{ display:none;}
.block{ display:block;}
/* ico */
.ico01{ background:url(../image/ico01.jpg) 0 0 no-repeat; width:9px; height:9px;}
/* nav */
#nav{background:#fff url(../image/topBg1.png) bottom repeat-x; height:auto; padding:5px 0; overflow: hidden;}
#logo{ padding:14px 10px 10px 0;float:left; }
#nav ul{ float:left; width:520px; padding:12px 0 0 50px;}
#nav ul li{line-height:42px; height:42px; padding:0 18px; text-align:center; float:left;}
#nav ul li a{ font-size:18px; color:#333;}
#nav ul li a:hover{ color:#999;}
/* xu2013-10-16 */
.box{ border-radius:10px; background:#fff;}
.box .hd,.tab .tabNav .tit{ border-bottom:1px solid #dedede; font-size:18px; height:50px; line-height:50px; text-indent:1em; color:#333;}
.box .hd span{ color:#999; font-size:14px;}

.u23{background:url(../image/ico03.gif) 0 0 no-repeat; width:23px; height:23px;}
.u01{ background-position:0 0;}
.u02{ background-position:0 -23px;}
.u03{ background-position:0 -46px;}

.sfl{font-size:16px;}
.hd .fr{ float:right; line-height:30px; height:30px;padding-top:5px;}
.boxII{}
.boxII .l{ width:740px;}
.boxII .r{ width:250px;}

a.more{ font-size:11px; font-family:Verdana, Geneva, sans-serif; margin-right:10px;  color:#999;}
a:hover.more{ opacity:0.7;}
.more img{ vertical-align:-1px;}

.calcBg{ height:365px;  margin-bottom:0; background:url(../image/calcBg-b.jpg) center bottom no-repeat; margin-bottom:5px;}
.calcBg .topCalc{ height:357px; background:url(../image/s1.jpg) repeat-x}
.calcBg .topCalc h2{ font-size:18px; text-indent:5px; padding-bottom:5px;}
.calcBg .topCalc .calc{ margin-left:2px;}
.calcNav{ width:104px; float:left;}
.calcNav ul{ border:3px solid #f6f5f4; border-right:none 0; background:#f8f8f8 url(../image/ico06.gif) 0 0 repeat-x; float:left; width:101px;}
.calcNav ul li{ border-left:1px solid #bbb; border-right:3px solid #f6f5f4; background:url(../image/ico05.gif) right bottom repeat-y; height:45px; line-height:45px; font-size:14px; text-align:center; color:#0074ba; cursor:pointer;}
.calcNav ul li.not{cursor: auto;}
.calcNav ul li.on{ background:url(../image/trans.png); border-color:#666; color:#fff;}
.calcNav ul li a{ display:block; height:40px;}
.calcBox{ background:url(../image/calc.png) right 0 no-repeat; width:405px; height:267px; float:left; padding:5px 5px 5px 8px; overflow:hidden;}
.calcBox .boxs{ height:260px;}
.calcBox .shd{ border-bottom:1px solid #403e3d; width:400px; height:40px; line-height:40px; font-size:14px; color:#fff;}
.calcBox .sbd{ color:#fff; padding:10px 0;}
.calcBox .sbd .cols{ padding:7px 0;}
.calcBox .sbd .cols label{ margin:0 10px;}
.calcBox .sbd .cols select{ color:#333;}
.calcBox .btn{ background:#3992ce; padding:5px 20px; border-radius:3px; border:none 0; color:#fff; font-size:14px; margin-left:80px; cursor:pointer}
.calcBox .sfd,.calcBox .sfd a{color:#b9b9b9;}
.calcBox .sfd{border-top:1px dashed #403e3d; padding-top:10px;}
.calcBox .sfd a{ margin:0 5px; white-space:nowrap; float:left;}
.calcBox .sfd dd{ margin-left:60px;}
.calcBox .sfd dt{ float:left;}
.end{ padding:25px 10px;}
.end .right{ font-size:24px; color:#fff; text-align:center;}
.end .right img{ margin-left:5px;}
.end p{ color:#fff; line-height:2.3em;}
.end .pic{ text-align:center; width:30px;}
.end .txt{ margin-left:30px;}
.end em{ font-size:36px; color:#ffac35; font-family:Verdana, Geneva, sans-serif;}
.end .sfd{ border-top:1px dashed #3f3d3d;}
.end .tc{ margin-top:15px;}
.end .linkBtn{background:#3992ce; padding:5px 20px; border-radius:3px; border:none 0; color:#fff; font-size:14px; line-height:2em;}

.dataList{}
.dataList li{ width:200px; text-align:center; float:left; padding:10px 0 5px;}
.dataList li em{ font-size:28px;}
.dataList .ui{ background:url(../image/ui.png) 0 0 no-repeat; width:120px; height:100px;}
.dataList .ui01{background-position:0 0;}
.dataList .ui02{background-position:0 -100px;}
.dataList .ui03{background-position:0 -200px;}
.dataList .ui04{background-position:0 -300px;}
.dataList .ui05{background-position:0 -400px;}

.tab{}
.tab .tabNav{ background:url(../image/ico02.jpg) 0 bottom repeat-x; height:51px; line-height:50px;}
.tab .tabNav .tit{ float:left; border-bottom:none;}
.tab .tabNav .snav{ float:right; width:420px;}
.tab .tabNav .snav li{ float:left; padding:0 15px; font-size:14px; height:51px; text-align:center; cursor:pointer;}
.tab .tabNav .snav li:hover{ color:#999;}
.tab .tabNav .snav li.on{ background:url(../image/ico02.gif) center bottom no-repeat;}
.tab .tabMian{ font-size:14px; color:#666; height:216px; *height:208px; overflow:hidden;}
.tab .tabTit th{ background:#eff8fe; width:123px; padding:10px; border-bottom:1px solid #eff8fe;}
.tab .tabMian table{ margin-top:-1px;}
.tab .tabMian td{ text-align:center; border-top:1px dashed #dedede; padding:7px 0; *padding:9px 0 8px; width:123px;}
.ok{ background:url(../image/ico04.gif) right 0 no-repeat; width:90px; height:15px; text-indent:-999em; overflow:hidden; display: inline-block;}
.ok{*float:left; *margin-left:20px; *display: inline}
.ok20{ background-position:right 0;}
.ok40{ background-position:right -15px;}
.ok60{ background-position:right -30px;}
.ok80{ background-position:right -45px;}
.ok100{ background-position:right -60px;}

.appList{ line-height:2em; padding:5px 5px 5px 16px;}
.appList .pic{ float:left; width:40px; text-align:left; margin-top:1px;}
.appList .txt{ float:left; color:#666;}
.appList .txt .shd{ font-size:14px; line-height:1em;}
.appList .txt .shd a{ color:#333;}
.appList dd a{ color:#666;}
.appList a:hover{ text-decoration:underline;}

.news{ line-height:2em; padding:5px 0;}
.news dt{ padding:0 16px; text-align:center; padding-top:5px;}
.news dt img{ margin:0 5px;}
.news dd{ padding:0 16px;}
.news dd .txt{ float:left; overflow:hidden; width:138px;}
.news dd .txt a{ white-space:nowrap; color:#666;}
.news dd .txt a:hover{ text-decoration:underline;}
.news dd .time{ float:right; color:#999; white-space:nowrap;}

.snsPic{}
.snsPic .fl{border-right:1px solid #dedede; width:125px; text-align:center; padding:10px 0 5px;}
.snsPic .fr{ width:124px; text-align:center; padding:15px 0 0;}
.snsPic .fr p{ width:62px; margin:0 auto;}

.proList{ overflow:hidden;}
.proList ul{ margin-top:-1px; padding-bottom:4px; *padding-bottom:0px; line-height:0; font-size:0;}
.proList li{ border-top:1px dashed #dedede; margin:0 10px; overflow:hidden; font-size:12px; padding:5px 0 4px; *padding:5px 0 0;}
.proList .vi,.proList .name,.proList .txt,.proList .link{ float:left; line-height:30px; height:30px;}
.proList .vi{ width:90px; text-align:center;}
.proList .name{ color:#333; width:200px; text-indent:2em;}
.proList .name a{ color:#333;}
.proList .name a:hover{ text-decoration:underline;}
.proList .txt{ color:#666; width:350px;}
.proList .link{}
.proList .link a.btn{ border:1px solid #c7e0f6; display:block; background:#e6f2f9; border-radius:3px; height:24px; line-height:24px; padding:0 20px; color:#2d7dce;}
.proList .link a:hover.btn{ opacity:0.7;}

.linkBox{ text-align:center; font-weight:bold; color:#b0b0b0; height:30px; line-height:30px;}
.linkBox a{ color:#b0b0b0}
.linkBox a:hover{ text-decoration:underline;}

.calcLink{ padding:5px 0;}
.calcLink li{ width:200px; float:left; line-height:2em; text-indent:18px; font-size:14px;}
.calcLink li a{ color:#666;}
.calcLink li a:hover{ text-decoration:underline;}

.bank{ padding:10px 0 10px;}
.bank li{ width:142px; float:left; text-align:center;}
.bank li img{ width:110px}

#bottom{border-top:1px solid #CBCBCB; text-align:center; line-height:2em; padding:8px;}
#bottom a{color:#666;}
#bottom span{margin:0 10px;}

.server{padding:10px 0 20px;}
.server li{padding-left:24px;width:170px;float:left;}
.server li h3{font-size:14px;line-height:30px;padding-bottom:3px;}
.server li .Img{float:left;width:46px;height:44px;}
.server li .txt{width:118px;float:left;padding-left:5px;color:#b3b3b3;}


.coordinate{float:left; background:url(../image/coordinate.png) 0 center no-repeat; padding-left:18px; padding-right:5px; font-size:14px;}
.citybar{float:left; margin-right:5px; position:relative; z-index: 1;}
.citybar .current{float:left;min-width:130px;}
.citybar .current h2,.citybar .current span{font-size:16px;color:#fe6f02;padding:0 5px;display:inline;font-weight:bold;}
.citybar .city_q{float:left; padding:0 10px; border:1px solid #2D2D2D; border-bottom:none 0; height:29px; line-height:29px;cursor: pointer;}
.citybar .city_q a{color:#0e74b5;}
.citybar .city_q a:hover{color:#fe6f02;}
.chover .city_q{background:#fff; border-color:#bdbdbd; }
.chover .city_q em {color:#3992ce;}
.citybar .citybar{float:left;}
.citybar .city_list{background:#fff;border:1px solid #bdbdbd; border-top:none; width:548px;color:#999;position:absolute;top:29px;left:0;z-index:999; display:none;}
.chover .city_list{display:block;}
.citybar .city_list li{line-height:2em;padding-left:20px; font-size:14px; margin:10px;}
.citybar .city_list li.first{;border-bottom:1px solid #dedede; font-size:16px; color:#333; line-height:1.5em; padding-bottom:10px;}
.citybar .city_list li a{color:#333 !important; margin-right:10px;}
.citybar .city_list li a:hover{color:#0074ba !important;}
.citybar .city_list li .fr{width:430px;}
.citybar .city_list li.first .fr{width:420px;}
.citybar .bottom{background:#f4f4f4; font-size:14px; color:#999; padding:10px 15px; text-indent:1em;}
.citybar .bottom em{color:#cd3121;}
/*creditStep*/
.creditStep{background:url(../image/creditStep.png) 0 0 repeat-x; height:210px; border-bottom:1px solid #fff;}
.creditStep .hd{background:url(../image/credit.png) 0 10px no-repeat; height:210px; margin:0 auto; width:1000px;}
.creditStep .hd .digit{float:right; margin:60px 45px 0 0 ; *display:inline;}
.creditStep .hd .digit img{margin-right:2px;*display:inline;}
.stepBox{ margin-top:20px;}
.stepBox .lBox{float:left; width:740px;}
.stepBox .rBox{float:right; width:250px;}
.ad{line-height:0;}
.ad img{border-radius:5px;}
.creditCalc{border-radius:5px; background:#fff;}
.creditCalc .hd{border-bottom:1px solid #dedede; height:50px; line-height:50px; text-indent:1em; font-size:16px; color:#333;}
.creditCalc .bd{padding:14px 0;}
.creditCalc .col{padding-bottom:10px;}
.creditCalc .input_public{width:102px; height:23px; border:1px solid #dedede; line-height:23px; text-indent:6px; font-size:14px; margin-right:6px;}
.creditCalc label{width:80px; text-align:right; line-height:25px; height:25px; float:left;}
.creditCalc .creditBtn{background:#3992ce; color:#fff; border:none 0; width:104px; height:30px; line-height:30px; font-size:14px; margin-left:80px;}
.creditCalc .result{margin:0 10px; border-top:1px dashed #dedede; line-height:2em; padding:12px 0 0; font-size:12px;}
.creditCalc .result .col{ padding-bottom:0;}
.creditCalc .result em{color:#fc0000; margin-right:6px; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.creditCalc .result label{width:70px;}
.c2{ color:#b8b8b8;}
.calcBox{}

/*11-8*/
.applybox{padding:22px;min-height:527px; *height:537px; _height:539px; background:#fff; border-radius:5px 5px 0 0;}
.applybox .hr{border-top:1px dashed #dedede;margin:20px 0;}
.applybox p{font-size:13px;}
.applybox .tit{background:url(../images/tit.png) no-repeat 0 0;width:696px;height:32px;}
.applybox .tit1{background-position:0 -32px;}
.applybox .tit2{background-position:0 -64px;}
.applybox .tit li{float:left;width:232px;text-align:center;line-height:32px;font-size:16px;}
.applybox .tit li.on{color:#fff;}
.frmbox{margin:20px 0;width:684px;color:#666;font-size:13px;}
.frmbox h3{font-size:14px;font-family:"宋体";text-indent:2em; font-weight:bold; color:#333;}
.applybox .cols{padding:9px 0;}
.applybox .cols select,.applybox .cols input,.applybox input{border:1px solid #dedede;}
.applybox .cols label{float:left;width:120px;padding-right:6px;text-align:right;line-height:30px;}
.inpbox{float:left;line-height:30px;}
.inpt{float:left;line-height:28px;margin-right:10px;}
.inp,.inp1{height:22px;line-height:22px;padding:3px;width:194px;}
.inp1{width:90px;}
.inpt select{height:28px;line-height:28px;}
.w200{width:200px;}
.tips{line-height:30px;font-size:12px;color:#999; margin-left:10px; float:left;}
.error{line-height:30px;font-size:12px;color:#c00; margin-left:10px; float:left;}
.rad{margin-right:5px;vertical-align:-1px;}
.inpbox .rad{padding-right:10px;}
.btnBox{margin-left:130px;}
.btn1{background:#3992ce;color:#fff;width:210px;height:36px;line-height:36px;text-align:center;}
.btn1:hover{background:#307bae;}
.btn2{background:url(../images/btn1.png) 0 0 no-repeat;width:134px;height:30px;line-height:34px;text-align:center;color:#9c9c9c; border:none 0 !important; margin-right:6px; text-shadow:1px 1px 1px #fff;}
.btn2hover{background-position:0 -30px;}
.tipbox{background:#f2ffed;padding:22px;border-radius:0 0 5px 5px;}
.tipbox h3{font-size:14px;padding:3px 0;}
.tipbox p{font-size:12px;line-height:22px;}
.content{background:#f2ffed;padding:36px 0;font-size:12px;}
.content h3{font-size:24px;text-align:center;font-weight:normal;}
.content .txt{background:url(../images/icon2.png) 0 center no-repeat;padding-left:15px;margin:10px 0 10px 170px;line-height:34px;}
.content .txt em{font-size:34px;font-family:Arial;color:#ff8a00;padding:0 2px;}
.c1{color:#0a9332;}/* CSS Document */

