
/*********Õº∆¨«–ªª css∂®“Â***********/
.showBox{ border:1px solid #ccc;}
.sub_box{width:496px; height:190px; float:left; position:relative; overflow:hidden;}
.sub_box img{border:none; width:496px; height:190px;}
#bd1lfimg{position:relative; width:496px; height:190px; overflow:hidden;}
#bd1lfimg div{width:100000px; margin-left:-4px;}
#bd1lfimg dl{width:496px; height:190px; position:relative; overflow:hidden; float:left;}
#bd1lfimg dt{width:496px; height:190px; position:absolute; left:0px; top:0px;}
#bd1lfimg dd{width:466px; height:60px; background:#000; filter:alpha(Opacity=70); Opacity:0.7; position:absolute; left:0px; bottom:0px; padding:0 15px;}
#bd1lfimg dd h2{height:20px; padding:8px 0 4px 0; line-height:20px; overflow:hidden;}
#bd1lfimg dd h2 a{font-size:14px; font-weight:bold; color:#fff;}
#bd1lfimg dd a{color:#fff; text-decoration:none;}
#bd1lfimg dd a:hover{text-decoration:none; color:#ccc;}
#bd1lfimg dd tt{color:#dddddd; line-height:1.2em;}
#bd1lfimg dd tt a:hover{text-decoration:underline;}

.sub_nav{width:496px; height:20px; bottom:0px; position:absolute; color:#999; z-index:200;}
.sub_no{height:20px; float:right;}
.sub_no li{display:block; width:20px; height:20px; float:left; overflow:hidden; line-height:20px; vertical-align:middle; text-align:center; background:#000; filter:alpha(Opacity=70); Opacity:0.7; font-family:Arial; font-size:11px; color:#999; cursor:pointer;}
.sub_no li.show{background:#fff; color:#000;}
.sub_more{float:right; width:50px; height:20px; background:#000; filter:alpha(Opacity=70); Opacity:0.7; color:#999; text-align:center; line-height:20px;}
.sub_more a{color:#999;}
.sub_more a:hover{color:#ccc; text-decoration:none;}

/*********Õº∆¨«–ªª css∂®“Â***********/
