html {
	color: #000;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
body {
	margin: auto
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
	font: 100%
}
caption, th {
	text-align: left
}
img {
	border: 0;
	vertical-align: middle
}
ol, ul {
	list-style: none
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400
}
address, caption, cite, code, dfn, em, strong, th, var, b {
	font-style: normal;
	font-weight: 400
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}
abbr, acronym {
	border: 0;
	font-variant: normal
}
pre, code, kbd, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 100%;
	line-height: 100%
}
small {
	font-size: 75%
}
abbr[title], acronym[title] {
	border-bottom: 1px dotted;
	cursor: help
}
em {
	font-style: italic
}
strong {
	font-weight: 700
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
a:focus {
	outline: thin dotted
}
a:hover, a:active {
	outline: 0
}
legend {
	border: 0;
	white-space: normal;
	color: #000
}
button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	vertical-align: middle;
 *vertical-align: middle
}
button, input {
	line-height: normal
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: none
}
label, button {
	cursor: pointer;
	_cursor: hand
}
button, input[type=button], input[type=submit],input[type=reset] {
	cursor: pointer;
	-webkit-appearance: button;
 *overflow: visible
}
input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
 *height: 13px;
 *width: 13px
}
button::-moz-focus-inner, input::-moz-focus-inner {
 border: 0;
 padding: 0
}
input[type=hidden] {
	display: none !important
}
body {
	color: #222;
	font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
	font-size: 12px;
	background-color: #f6f7f9
}
a {
	color: #222;
	text-decoration: none
}
a:hover {
	color: #ffffff;
	text-decoration: none
}
a.doc-text-link, .doc-text-link a {
	color: #05c
}
a.doc-text-link:hover, .doc-text-link a:hover {
	color: #49acf8
}
.doc-color-main {
	color: #222
}
.doc-color-desc {
	color: #555
}
.doc-color-tail {
	color: #888
}
.doc-color-light {
	color: #a6a6a6
}
.doc-color-micro {
	color: #bbb
}
.doc-color-vmicro {
	color: #ddd
}
.doc-color-link {
	color: #05b
}
.doc-color-red {
	color: red
}
.doc-color-green {
	color: green
}
.doc-color-yellow {
	color: #ff9600
}
.doc-size-main {
	font-size: 12px
}
.doc-size-big {
	font-size: 14px
}
.doc-size-large {
	font-size: 16px
}
.doc-text-b, strong {
	font-weight: 700
}
.doc-text-i, i, em {
	font-style: italic
}
.doc-text-u {
	text-decoration: underline
}
.doc-text-orange {
	color: #f63
}
.doc-text-left {
	text-align: left
}
.doc-text-center {
	text-align: center
}
.doc-text-right {
	text-align: right
}
.doc-space-2 {
	text-indent: 2em;
 *text-indent: 0;
 *padding-left: 2em
}
.doc-space-1 {
	text-indent: 1em;
 *text-indent: 0;
 *padding-left: 1em
}
span.doc-space-1 {
	margin-left: 1em
}
h1, .doc-h1 {
	font-size: 24px
}
h2, .doc-h2 {
	font-size: 20px
}
h3, .doc-h3 {
	font-size: 16px
}
h4, .doc-h4 {
	font-size: 14px
}
.wrap-full {
	width: 100%
}
.wrap-base {
	width: 990px;
	margin: auto
}
.wrap-base-inner {
	margin-bottom: 20px;
	border: 1px solid #d5d5d5;
	background-repeat: repeat-y
}
.wrap-main {
	width: 740px;
	float: left
}
.wrap-sider {
	width: 250px;
	float: right
}
.wrap-base-inner .wrap-sider {
	width: 248px;
	float: right
}
.wrap-line {
	display: inline-block;
	vertical-align: top;
	-float: left
}
.wrap-clear {
 *zoom: 1
}
.wrap-clear:after {
	content: '\\20';
	display: block;
	height: 0;
	overflow: hidden;
	clear: both
}
.wrap-left {
	float: left
}
.wrap-right {
	float: right
}
.wrap-mtop-10 {
	margin-top: 10px
}
.wrap-mright-10 {
	margin-right: 10px
}
.wrap-mbottom-10 {
	margin-bottom: 10px
}
.wrap-mbottom-20 {
	margin-bottom: 20px
}
.wrap-mbottom-40 {
	margin-bottom: 40px
}
.wrap-mleft-10 {
	margin-left: 10px
}
.wrap-ptop-10 {
	padding-top: 10px
}
.wrap-right-10 {
	padding-right: 10px
}
.wrap-pbottom-10 {
	padding-bottom: 10px
}
.wrap-pleft-10 {
	padding-left: 10px
}
.ui-btn, a.ui-btn {
	display: inline-block;
 *display: inline;
 *zoom: 1;
	vertical-align: middle;
	font-size: 12px;
	color: #222;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	background-repeat: no-repeat;
	background-color: none;
	border: 0
}
.ui-btn-default {
	width: 85px;
	height: 28px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	border-radius: 0;
	border: 1px solid #d3d3d3;
	background: #e2e2e2;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2))
}
.ui-btn-default:hover {
	background: #dee0e2;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f8fa), to(#dee0e2))
}
.ui-btn-default:active {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#dbdddf), to(#dbdddf));
 *background: #dbdddf
}
.ui-btn-default-disabled, .ui-btn-default-disabled:hover, .ui-btn-default-disabled:active {
	cursor: default;
	color: #ccc;
	background-color: #f2f2f2
}
.ui-btn-white {
	height: 26px;
	padding: 0 20px;
	line-height: 26px;
	background-position: 100px -100px;
	background-color: #fff;
	border: 1px solid #cbcbcb
}
.ui-btn-yellow {
	width: 102px;
	height: 28px;
	background-repeat: no-repeat;
}
.ui-btnGroup .ui-btn {
	margin-left: -1px;
	border-radius: 0
}
.ui-btnGroup .ui-btn:first-child {
	border-radius: 3px 0 0 3px
}
.ui-btnGroup .ui-btn:last-child {
	border-radius: 0 3px 3px 0
}
@font-face {
	font-family: rong-icon;
	src: url(/static/rongui/fonts/rong-icon.eot);
	src: url(/static/rongui/fonts/rong-icon.eot?#iefix) format('embedded-opentype'), url(/static/rongui/fonts/rong-icon.woff) format('woff'), url(/static/rongui/fonts/rong-icon.ttf) format('truetype'), url(/static/rongui/fonts/rong-icon.svg#rong-icon) format('svg');
	font-weight: 400;
	font-style: normal
}
.ui-icon {
	margin-right: 2px;
	display: inline-block;
 *display: inline;
 *zoom: 1;
	overflow: hidden;
	position: relative;
	z-index: 0;
	vertical-align: middle;
	font-family: rong-icon;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	font-style: normal;
	font-size: 14px;
	text-transform: none;
	cursor: default;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.ui-icon-phone {
	width: 11px;
	height: 18px;
	background-repeat: no-repeat;
}
.ui-icon-more-down {
	width: 10px;
	height: 5px;
	background-repeat: no-repeat;
}
.ui-icon-spliter {
	width: 7px;
	height: 7px;
	margin-right: 0;
	background-repeat: no-repeat;
}
.ui-icon-maptip {
	width: 10px;
	height: 16px;
	background-repeat: no-repeat;
}
.ui-icon-sign {
	width: 20px;
	height: 18px;
	background-repeat: no-repeat;
}
.ui-icon-warning {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}
.ui-icon-ok {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}
.ui-icon-close {
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
}
.ui-icon-close-orange {
	width: 10px;
	height: 10px;
	background-position: -20px -20px
}
.ui-icon-house {
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
}
.ui-icon-house-x {
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
}
.ui-icon-diya {
	width: 15px;
	height: 13px;
	background-repeat: no-repeat;
}
.ui-icon-danbao {
	width: 15px;
	height: 12px;
	background-repeat: no-repeat;
}
.ui-icon-chujie {
	width: 15px;
	height: 14px;
	background-repeat: no-repeat;
}
.ui-icon-zhongjie {
	width: 15px;
	height: 13px;
	background-repeat: no-repeat;
}
.ui-icon-danbao2 {
	width: 15px;
	height: 14px;
	background-repeat: no-repeat;
}
.ui-icon-car {
	width: 15px;
	height: 13px;
	background-repeat: no-repeat;
}
.ui-icon-person {
	width: 15px;
	height: 14px;
	background-repeat: no-repeat;
}
.ui-icon-watch {
	width: 15px;
	height: 14px;
	background-repeat: no-repeat;
}
.ui-icon-credit {
	width: 15px;
	height: 14px;
	background-repeat: no-repeat;
}
.ui-icon-up {
	width: 15px;
	height: 10px;
	background-repeat: no-repeat;
}
.ui-icon-left {
	width: 6px;
	height: 15px;
	background-repeat: no-repeat;
}
.ui-icon-star {
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
}
.ui-icon-star-off {
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
}
.ui-icon-cer-todo {
	width: 22px;
	height: 16px;
	background-repeat: no-repeat;
}
.ui-icon-comcer-todo {
	width: 22px;
	height: 16px;
	background-repeat: no-repeat;
}
.ui-icon-cer-done {
	width: 28px;
	height: 20px;
	background-repeat: no-repeat;
}
.ui-icon-comcer-done {
	width: 28px;
	height: 22px;
	background-repeat: no-repeat;
}
.ui-icon-new {
	width: 35px;
	height: 20px;
	background-repeat: no-repeat;
}
.ui-icon-dot {
	width: 2px;
	height: 2px;
	background-repeat: no-repeat;
}
.ui-spliter {
	height: 12px;
 *margin-right: -3px;
	vertical-align: middle;
	overflow: hidden;
	display: inline-block;
	border-left: 1px solid #747474;
	font-style: normal;
}
.ui-app-daikuan-32 {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
}
.ui-app-fangdai-32 {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
}
.ui-icon-viewmore {
	width: 11px;
	height: 11px;
	background-repeat: no-repeat;
}
.ui-icon-viewmore-up {
	width: 11px;
	height: 11px;
	background-repeat: no-repeat;
}
.ui-icon-download {
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
}
.ui-icon-qrcode {
	width: 12px;
	height: 12px;
	background-repeat: no-repeat;
}
.ui-icon-apple {
	width: 13px;
	height: 16px;
	background-repeat: no-repeat;
}
.ui-icon-android {
	width: 13px;
	height: 16px;
	background-repeat: no-repeat;
}
.ui-face-logo {
	width: 162px;
	height: 50px;
	display: inline-block;
 *position: relative;
 *top: -10px;
	line-height: 99em;
	overflow: hidden;
	background-repeat: no-repeat;
}
.ui-face-logo-x {
	width: 137px;
	height: 31px;
	display: inline-block;
 *float: left;
	line-height: 999em;
	overflow: hidden;
	background-repeat: no-repeat;
}
.ui-face-icon {
	width: 42px;
	height: 42px;
	display: inline-block;
	background-repeat: no-repeat;
}
.ui-face-round {
	width: 52px;
	height: 52px;
	display: inline-block;
	background-repeat: no-repeat;
}
.ui-face-zj {
	width: 52px;
	height: 52px;
	display: inline-block;
	background-repeat: no-repeat;
}
.ui-face-zj-hover {
	width: 52px;
	height: 52px;
	display: inline-block;
	background-repeat: no-repeat;
}
.ui-face-person {
	width: 52px;
	height: 52px;
	display: inline-block;
	background-repeat: no-repeat;
}
.ui-list .item {
	padding: 2px 0 5px;
	overflow: hidden;
	text-overflow: ellipsis
}
.ui-list item a:link {
	color: #555
}
.ui-list .ui-icon-dot {
	margin-right: 5px;
	position: relative;
	top: -2px
}
.ui-pager {
	text-align: center
}
.ui-pager .pagers {
	margin-right: 20px
}
.ui-pager .pages .page-item {
	height: 24px;
	padding: 0 8px;
	margin-right: 5px;
	display: inline-block;
	line-height: 24px;
	border: 1px solid #ebebeb;
	background-color: #fff
}
.ui-pager .pages .page-item:hover, .ui-pager .pages .page-current {
	height: 24px;
	padding: 0 8px;
	margin-right: 5px;
	color: #fff;
	text-decoration: none;
	border: 1px solid #0a51c0;
	background-color: #2069e3
}
.ui-tag {
	height: 22px;
	margin-right: 8px;
	display: inline-block;
 *display: inline;
 *zoom: 1;
	border: 1px solid
}
.ui-tag:hover {
	color: #000
}
.ui-tag-inner {
	height: 20px;
	padding: 0 .5em;
	display: inline-block;
	text-align: center;
	line-height: 18px;
	border: 1px solid
}
.ui-tag-purple {
	border-color: #dad7e9
}
.ui-tag-purple:hover {
	border-color: #c0bdd3
}
.ui-tag-purple .ui-tag-inner {
	border-color: #efecfd;
	background-color: #eae7fc
}
.ui-tag-red-light {
	border-color: #efd5c6
}
.ui-tag-red-light:hover {
	border-color: #e0c4b5
}
.ui-tag-red-light .ui-tag-inner {
	border-color: #ffebe1;
	background-color: #ffe6d8
}
.ui-tag-green {
	border-color: #c7dfc4
}
.ui-tag-green:hover {
	border-color: #b5d1b2
}
.ui-tag-green .ui-tag-inner {
	border-color: #e0f6dd;
	background-color: #d7f3d4
}
.ui-tag-red-sun {
	border-color: #e4c3c3
}
.ui-tag-red-sun:hover {
	border-color: #d6b2b2
}
.ui-tag-red-sun .ui-tag-inner {
	border-color: #f9dede;
	background-color: #f7d5d5
}
.ui-tag-purple-sun {
	border-color: #e4ceea
}
.ui-tag-purple-sun:hover {
	border-color: #d7bdde
}
.ui-tag-purple-sun .ui-tag-inner {
	border-color: #f6e5fb;
	background-color: #f4defa
}
.ui-tag-yellow-light {
	border-color: #e7e1c6
}
.ui-tag-yellow-light:hover {
	border-color: #d8d1b4
}
.ui-tag-yellow-light .ui-tag-inner {
	border-color: #fffae1;
	background-color: #fff8d8
}
.ui-tag-current {
	border: 1px solid #000
}
.ui-tab .ui-tab-nav {
	position: relative
}
.ui-tab .ui-tab-nav .ui-tab-nav-inner {
	width: auto;
	position: relative
}
.ui-tab .ui-tab-nav-item {
	float: left;
	cursor: pointer
}
.ui-tab .ui-tab-nav-item a {
	display: inline-block;
	text-decoration: none
}
.ui-tab .ui-tab-nav-item .inner {
	display: inline-block;
	position: relative
}
.ui-tab .ui-tab-content .ui-tab-content-item {
	display: none
}
.ui-tab .ui-tab-content .current {
	display: block
}
.ui-tab-primary .ui-tab-nav {
	height: 41px;
	-height: 40px;
	overflow: hidden;
	border-right: 1px solid #e6e8eb;
	background-color: #f7f7f8
}
.ui-tab-primary .ui-tab-nav-inner {
	height: 38px;
	-height: 36px;
	top: 0;
	border-top: 1px solid #e6e8eb;
	border-bottom: 2px solid #4072d7
}
.ui-tab-primary .ui-tab-nav-item {
	width: 145px;
	height: 39px;
	-height: 38px;
	padding: 0 1px;
	top: -1px;
	text-align: center;
	border: solid #e6e8eb;
	border-width: 0 1px;
	background-repeat: repeat-x
}
.ui-tab-primary .ui-tab-nav-item .inner {
	height: 26px;
	-height: 25px;
	padding-top: 8px;
	position: relative;
	top: 0;
	display: block;
	cursor: pointer;
	overflow: hidden;
	color: #888;
	font-size: 16px;
	text-decoration: none
}
.ui-tab-primary .ui-tab-nav .current {
	padding: 0;
	-position: relative;
	-top: 1px;
	border: 2px solid #294697;
	border-bottom: 0;
	background-color: #fff;
	background-repeat: repeat-x
}
.ui-tab-primary .ui-tab-nav .current .inner {
	top: 0;
	padding-top: 7px;
	-top: 4px;
	-padding: 3px 0 6px;
	color: #05b;
	border-bottom: 2px solid #fff
}
.ui-tab-primary .ui-tab-content {
	padding: 20px 30px
}
.ui-tab-primary .ui-tab-content .ui-tab-content-item {
	display: none
}
.ui-tab-primary .ui-tab-content .current {
	display: block
}
.ui-tab-cms .ui-tab-nav {
	height: 32px
}
.ui-tab-cms .ui-tab-nav-inner {
	height: 30px;
	width: auto;
 *display: inline;
	top: 0;
	border: 1px solid #a3a7b0;
	border-left: 0;
	background-color: #e6e8ee
}
.ui-tab-cms .ui-tab-nav-item {
	height: 30px;
	line-height: 28px;
	display: inline-block;
	border-left: 1px solid #a3a7b0
}
.ui-tab-cms .ui-tab-nav-item .inner {
	height: 30px;
	padding: 0 10px
}
.ui-tab-cms .ui-tab-nav .current .inner {
	position: relative;
	top: 1px;
	background-color: #fff
}
.ui-tab-cms .ui-tab-content {
	padding-top: 12px
}
.ui-alert {
	height: 20px;
	padding: 8px 18px;
	overflow: hidden;
	border: 1px solid;
	font-size: 14px
}
.ui-alert-default {
	color: #222;
	border-color: #f0e8c5;
	background-color: #fff6cc
}
.ui-alert-error {
	color: #b94a48;
	border-color: #eed3d7;
	background-color: #f2dede
}
.ui-alert-success {
	color: #468847;
	border-color: #d6e9c6;
	background-color: #dff0d8
}
.ui-alert-info {
	color: #3a87ad;
	border-color: #bce8f1;
	background-color: #d9edf7
}
.ui-form label {
 *float: left;
 *position: relative;
 *top: 3px;
	font-size: 14px
}
.ui-form-text {
	display: inline-block;
 *float: left
}
.ui-form-text .text {
	width: 120px;
	height: 24px;
	vertical-align: middle;
	display: inline-block;
 *float: left;
	overflow: hidden;
	border: 1px solid #d6d6d6;
	border-radius: 3px
}
.ui-form-text input {
	width: 75px;
	height: 24px;
	padding-left: 5px;
 *float: left;
	line-height: 24px;
	overflow: hidden;
	border: 0
}
.ui-form-text .tail {
	width: 34px;
	height: 24px;
	display: inline-block;
 *float: left;
	font-size: 12px;
	text-align: center;
	line-height: 22px;
	border-left: 1px solid #d6d6d6;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2))
}
.ui-select {
	width: 160px;
	height: 28px;
	float: left;
	z-index: 2000;
	cursor: pointer;
	border: 1px solid #c2c2c2
}
.ui-select .select-valueBar {
	position: relative
}
.ui-select .select-valueBar .select-value {
	margin-right: 40px;
	padding: 4px 0;
	display: block;
	position: relative;
	white-space: nowrap
}
.ui-select .select-valueBar .select-value .select-text {
	width: 5em;
	padding-left: 6px;
	display: inline;
	float: left;
	border: 0;
	outline: 0;
	position: relative\0;
	top: 2px\0
}
.ui-select .select-valueBar .select-value .select-tail {
	color: #888;
	float: right;
	top: 7px\0
}
.ui-select .select-valueBar .select-down {
	width: 34px;
	height: 28px;
	display: block;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px solid #c2c2c2;
	background-color: #e9ecee
}
.ui-select .select-valueBar .select-down .ui-icon {
	margin: 8px 10px;
	color: #888
}
.ui-select .select-list {
	width: 100%;
	min-height: 28px;
	position: absolute;
	left: -1px;
	top: 28px;
	border: 1px solid #c2c2c2;
	background-color: #fff;
	display: none
}
.ui-select .select-list .select-item {
	padding: 0 6px;
	line-height: 28px
}
.ui-select .select-list .select-active {
	background-color: #dcdee0
}
.ui-select .select-list .select-hover {
	background-color: #a8d0f9
}
.ui-viewmore-hide {
	display: none
}
.ui-viewmore-toggle {
	cursor: pointer
}
.ui-titleBody {
	padding: 10px
}
.ui-titleBody .tb-title-inner {
	height: 18px;
	padding-bottom: 10px;
	position: relative;
	line-height: 18px;
	border-bottom: 1px solid #ababab
}
.ui-titleBody .tb-title .text {
	float: left;
	font-size: 16px
}
.ui-titleBody .tb-title .tail {
	position: absolute;
	top: 2px;
	right: 0;
	font-size: 12px
}
.ui-titleBody .tb-body {
	padding: 10px 0 0
}
.ui-titleBody .ui-list {
	margin-bottom: 8px
}
.service_rate {
	background: #e84006;
	color: #fff;
	padding: 1px 4px
}
.bg_red {
	background: #e84006
}
.bg_green {
	background: #4a9d00
}
.bg_gray {
	background: #666
}
.score {
	vertical-align: middle;
	display: inline-block;
	margin-right: 2px;
	height: 22px;
 *height: 18px !important;
 *height: 26px
}
.score i, .score em, .score b {
	background: url(/static/img/agent_icons.gif) no-repeat 0 -24px;
	width: 16px;
	height: 20px;
	display: inline-block;
	margin-right: 0;
	float: left;
	zoom: 1
}
.score i:after, .score em:after, .score b:after {
	display: block;
	clear: both;
	content: "\20";
	height: 0;
	overflow: hidden
}
.score i {
	margin-left: 0;
	background-position: 0 -49px
}
.score em {
	background-position: 0 -74px
}
.ui-footer {
	border-top: 1px solid #c8c9ca;
	clear: both
}
.ui-footer .ui-footer-inner {
	padding: 20px 0 50px;
	font-size: 12px;
	border-top: 1px solid #FFF
}
.ui-footer .links {
	padding-bottom: 15px;
	text-align: center
}
.ui-footer .links .links a {
	display: inline-block;
	color: #333;
	text-decoration: none
}
.ui-footer .links a:hover {
	color: #09f
}
.ui-footer .links .spliter {
	margin: 0 15px;
	color: #ccc
}
.ui-footer .company {
	padding-bottom: 15px;
	text-align: center
}
.ui-footer .copyright {
	padding-bottom: 30px;
	text-align: center;
	color: #666
}
.ui-footer .copyright a {
	color: #666;
	text-decoration: none
}
.ui-footer .copyright a:hover {
	color: #09f;
	text-decoration: underline
}
.ui-footer .cer {
	text-align: center
}
.ui-footer .cer a {
	width: 114px;
	height: 48px;
	margin: 0 10px;
	display: inline-block;
	border: 1px solid #ddd;
	background-color: #fff
}
.ui-footer .cer a.chengxin {
	background-repeat: no-repeat;
}
.ui-footer .cer a.vs {
	background-repeat: no-repeat;
}
.ui-footer .panel {
	margin: 0 10px 10px;
	padding: 8px 8px 0;
	overflow: hidden;
	display: none;
	border: 1px solid gray;
	background-color: #fff;
 *height: 1%
}
.ui-footer .panel li {
	float: left;
	width: 20%
}
.ui-footer .panel li a {
	float: none;
	width: auto
}
.ui-footer .panel a {
	width: 20%;
	margin-bottom: 8px;
	float: left
}
.ui-header {
	position: relative;
	z-index: 1999
}
.ui-header .ui-nav-topbar {
	height: 32px;
	position: relative;
	z-index: 9999;
	font-family: "Microsoft Yahei", "寰蒋闆呴粦", Tahoma, Arial, Helvetica, STHeiti;
	background-color: #3c3d40
}
.ui-header .ui-nav-topbar .item {
	height: 26px;
	padding: 0 10px;
	padding-top: 6px;
	display: inline-block;
	line-height: 19px;
 *height: 28px;
 *padding-top: 4px;
 *display: inline;
 *zoom: 1;
 *position: relative;
 *top: 1px
}
.ui-header .ui-nav-topbar .item a {
	color: #DDD;
	font-size: 12px;
	text-decoration: none
}
.ui-header .ui-nav-topbar .item a:hover {
	color: #FFF
}
.ui-header .ui-nav-topbar .item .recity {
	margin-left: 2px;
	color: #5b96ff
}
.ui-header .ui-nav-topbar .map {
	margin-left: -5px;
	padding: 0 18px 0 2px
}
.ui-header .ui-nav-topbar .map-hover .ui-icon, .ui-header .ui-nav-topbar .map-hover a {
	color: #fff
}
.ui-header .ui-nav-topbar .map-hover .recity, .ui-header .ui-nav-topbar .map-hover .recity:hover {
	color: #49acf8;
	text-decoration: underline
}
.ui-header .ui-nav-topbar .ui-spliter {
	width: 0;
	position: relative;
	top: -1px;
 *float: left;
 *vertical-align: middle;
 *display: none;
 *top: 9px
}
.ui-header .ui-nav-topbar .menu {
	position: relative
}
.ui-header .ui-nav-topbar .menu .ui-icon {
	position: relative;
	left: 2px;
 *top: 0
}
.ui-header .ui-nav-topbar .menu .menu-list {
	display: none;
	line-height: 32px
}
.ui-header .ui-nav-topbar .menu-hover {
	background-color: #4d4e51
}
.ui-header .ui-nav-topbar .menu-hover a, .ui-header .ui-nav-topbar .menu-hover a .ui-icon {
	color: #fff
}
.ui-header .ui-nav-topbar .menu-hover .menu-list {
	width: 100px;
 *width: 95px;
	display: block;
	text-align: left;
	position: absolute;
	left: 0;
	top: 32px;
	z-index: 9999
}
.ui-header .ui-nav-topbar .menu-hover .menu-list .menu-item {
	padding-left: 10px;
	background: #4d4e51
}
.ui-header .ui-nav-topbar .menu-hover .menu-list .menu-item:hover {
	background-color: #3c3d40
}
.ui-header .ui-nav-topbar .fix-margin {
	position: relative;
	right: -10px
}
.ui-header .ui-nav-main, .ui-header .ui-nav-xpath {
	height: 80px;
	overflow: hidden;
	background-color: #f6f7f9
}
.ui-header .ui-nav-main .logo-m {
	width: 162px;
	height: 50px;
	padding: 15px 50px 15px 0;
	overflow: hidden
}
.ui-header .ui-nav-main {
	border-bottom: 1px solid #8e8e8e
}
.ui-header .ui-nav-main .list {
	height: 40px;
	padding-top: 40px
}
.ui-header .ui-nav-main .list .ui-spliter {
	width: 0;
	margin: 2px 5px;
	height: 20px;
	vertical-align: top;
	position: relative;
	top: 3px;
	top: 0\0;
	border-left-style: dotted;
	border-color: #d3d3d4;
	background-color: #f6f7f9
}
.ui-header .ui-nav-main .list .item {
	display: inline-block;
 *display: inline;
 *zoom: 1;
	position: relative;
	top: -1px
}
.ui-header .ui-nav-main .list .item .ui-icon-new {
	position: absolute;
	right: -10px;
 *right: -5px;
	top: -15px
}
.ui-header .ui-nav-main .list .item a {
	width: 72px;
	height: 35px;
	margin: 0 5px;
 *width: 80px;
 *margin-left: -2px;
	overflow: hidden;
	padding: 3px 5px 0;
	display: inline-block;
 *zoom: 1;
	text-align: center;
	font-weight: 700;
	font-size: 17px;
	color: #666;
	text-decoration: none;
	border-bottom: 3px solid #f6f7f9
}
.ui-header .ui-nav-main .list .item a:hover, .ui-header .ui-nav-main .list .current a {
	color: #49acf8;
	border-color: #3d73cb
}
.ui-header .ui-nav-xpath {
}
.ui-header .ui-nav-xpath .logo-x {
	width: 137px;
	height: 31px;
	margin: 25px 12px 0 0
}
.ui-header .ui-nav-xpath .list {
	height: 20px;
	padding-top: 30px;
	font-size: 12px;
	line-height: 20px
}
.ui-header .ui-nav-xpath .list .ui-icon-spliter {
	margin: 2px 3px;
 *height: 20px;
 *margin: 0 -3px 0 3px;
	vertical-align: top;
	position: relative;
	top: 5px;
	text-align: center;
	font-family: "瀹嬩綋";
	color: #666;
	letter-spacing: 0;
	border: 0
}
.calclist .ui-titleBody .tb-title-inner {
	border-bottom: 1px solid #ababab
}
.calclist .list-item {
	padding-bottom: 15px
}
.calclist .list-item .face span {
	width: 32px;
	height: 32px;
	margin-right: 10px;
	display: block;
	cursor: pointer
}
.calclist .list-item .shenjia {
	background-repeat: no-repeat;
}
.calclist .list-item .daikuan {
	background-repeat: no-repeat;
}
.calclist .list-item .zige {
	background-repeat: no-repeat;
}
.ui-tab-primary .ui-tab-nav-item {
	background-position: 0px 2px
}
.ui-tab-primary .ui-tab-nav .current {
	background-position: 0px -77px
}
.ui-tab-primary .ui-tab-nav-item, .ui-tab-primary .ui-tab-nav .current {
	background-image: url(/static/rongui/css/common_x.png)
}
.wrap-base-inner {
	background-position: 740px 0px
}
.wrap-base-inner {
	background-image: url(/static/rongui/css/common_y.png)
}
.ui-btn-yellow {
	background-position: -60px 0px
}
.ui-icon-phone {
	background-position: -150px -68px
}
.ui-icon-more-down {
	background-position: -153px -126px
}
.ui-icon-spliter {
	background-position: -155px -171px
}
.ui-icon-maptip {
	background-position: -152px -218px
}
.ui-icon-sign {
	background-position: -145px -274px
}
.ui-icon-warning {
	background-position: -144px -331px
}
.ui-icon-ok {
	background-position: -142px -389px
}
.ui-icon-close {
	background-position: -150px -449px
}
.ui-icon-house {
	background-position: -147px -501px
}
.ui-icon-house-x {
	background-position: -147px -555px
}
.ui-icon-diya {
	background-position: -150px -610px
}
.ui-icon-danbao {
	background-position: -151px -661px
}
.ui-icon-chujie {
	background-position: -150px -713px
}
.ui-icon-zhongjie {
	background-position: -148px -765px
}
.ui-icon-danbao2 {
	background-position: -151px -816px
}
.ui-icon-car {
	background-position: -149px -868px
}
.ui-icon-person {
	background-position: -148px -919px
}
.ui-icon-watch {
	background-position: -150px -971px
}
.ui-icon-credit {
	background-position: -150px -1023px
}
.ui-icon-up {
	background-position: -154px -1074px
}
.ui-icon-left {
	background-position: -156px -1123px
}
.ui-icon-star {
	background-position: -146px -1172px
}
.ui-icon-star-off {
	background-position: -146px -1228px
}
.ui-icon-cer-todo {
	background-position: -140px -1284px
}
.ui-icon-comcer-todo {
	background-position: -140px -1340px
}
.ui-icon-cer-done {
	background-position: -136px -1396px
}
.ui-icon-comcer-done {
	background-position: -136px -1456px
}
.ui-icon-new {
	background-position: -129px -1516px
}
.ui-icon-dot {
	background-position: -160px -1574px
}
.ui-app-daikuan-32 {
	background-position: -130px -1616px
}
.ui-app-fangdai-32 {
	background-position: -130px -1688px
}
.ui-icon-viewmore {
	background-position: -151px -1760px
}
.ui-icon-viewmore-up {
	background-position: -151px -1811px
}
.ui-icon-download {
	background-position: -150px -1862px
}
.ui-icon-qrcode {
	background-position: -150px -1914px
}
.ui-icon-apple {
	background-position: -150px -1966px
}
.ui-icon-android {
	background-position: -149px -2020px
}
.ui-face-logo {
	background-position: 0px -2075px
}
.ui-face-logo-x {
	background-position: -25px -2165px
}
.ui-face-icon {
	background-position: -120px -2236px
}
.ui-face-round {
	background-position: -110px -2318px
}
.ui-face-zj {
	background-position: -110px -2410px
}
.ui-face-zj-hover {
	background-position: -110px -2502px
}
.ui-face-person {
	background-position: -110px -2594px
}
.ui-footer .cer a.chengxin {
	background-position: -49px -2686px
}
.ui-footer .cer a.vs {
	background-position: -78px -2772px
}
.calclist .list-item .shenjia {
	background-position: -130px -2856px
}
.calclist .list-item .daikuan {
	background-position: -130px -2928px
}
.calclist .list-item .zige {
	background-position: -130px -3000px
}
.ui-btn-yellow, .ui-icon-phone, .ui-icon-more-down, .ui-icon-spliter, .ui-icon-maptip, .ui-icon-sign, .ui-icon-warning, .ui-icon-ok, .ui-icon-close, .ui-icon-house, .ui-icon-house-x, .ui-icon-diya, .ui-icon-danbao, .ui-icon-chujie, .ui-icon-zhongjie, .ui-icon-danbao2, .ui-icon-car, .ui-icon-person, .ui-icon-watch, .ui-icon-credit, .ui-icon-up, .ui-icon-left, .ui-icon-star, .ui-icon-star-off, .ui-icon-cer-todo, .ui-icon-comcer-todo, .ui-icon-cer-done, .ui-icon-comcer-done, .ui-icon-new, .ui-icon-dot, .ui-app-daikuan-32, .ui-app-fangdai-32, .ui-icon-viewmore, .ui-icon-viewmore-up, .ui-icon-download, .ui-icon-qrcode, .ui-icon-apple, .ui-icon-android, .ui-face-logo, .ui-face-logo-x, .ui-face-icon, .ui-face-round, .ui-face-zj, .ui-face-zj-hover, .ui-face-person, .ui-footer .cer a.chengxin, .ui-footer .cer a.vs, .calclist .list-item .shenjia, .calclist .list-item .daikuan, .calclist .list-item .zige {
	background-image: url(/static/rongui/css/common_z.png)
}
<!--
----右侧导航-----> .newsBox {
}
.newsBox .list {
	padding: 0px 30px 40px 0px;
	width: 160px;
}
.newsBox .about {
	padding: 0px 30px 40px 200px;
	width: 740px;
	border-left: 1px solid #e7e7e7;
}
.daohang li {
	height: 50px;
	float: left;
	width: 100%;
}
.daohang li a {
	line-height: 50px;
	height: 50px;
	text-align: center;
	color: #666;
	display: block;
	border-bottom: 1px dashed #ddd;
	margin: 0 10px;
}
.daohang li.on a {
	background: #4a93dc;
	color: #fff;
	border-bottom: none;
	margin: 0;
}
.daohang :hover > a {
	color: #ffffff;
	background: #67B0F8;
	width: inherit;
	margin: 0;
}
<!--
--左侧文字-----> .in_txt {
}
.in_txt h1 {
	font-size: 14px;
	font-weight: bold;
}
.in_txt h3 {
	line-height: 30px;
	padding-top: 20px;
	color: #D68546;
	font-weight: bold;
}
.in_txt p {
	line-height: 32px;
	color: #666;
	font-size: 13px;
	text-indent: 2em;
}
.in_txt a {
	color: #4594e5;
}
.l-fix:after, .proList li:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.l-fix, .proList li {
*zoom:1;
}
.warp {
	width: 1000px;
	margin: auto;
}
.l, .fl, .sfl {
	float: left;
}
.fr {
	float: right;
}
.tc {
	text-align: center;
}
.m01 {
	margin-top: 10px;
}
.none {
	display: none;
}
.block {
	display: block;
}
/* ico */
.ico01 {
	background: url(./image/ico01.jpg) 0 0 no-repeat;
	width: 9px;
	height: 9px;
}
.sfl {
	font-size: 16px;
}
.hd .fr {
	float: right;
	line-height: 30px;
	height: 30px;
	padding-top: 5px;
}
.boxII {
}
.ltopbar {
	width: 740px;
	float: left
}

.righttopbar {
	width: 220px;
	position: relative;
	float: right;
}

.right-add{ 
}
.u23 {
	background: url(./image/ico03.gif) 0 0 no-repeat;
	width: 23px;
	height: 23px;
}
.u01 {
	background-position: 0 0;
}
.u02 {
	background-position: 0 -23px;
}
.u03 {
	background-position: 0 -46px;
}
a.more1 {
	font-size: 11px;
	font-family: Verdana, Geneva, sans-serif;
	margin-right: 10px;
	color: #999;
}
a:hover.more1 {
	opacity: 0.7;
}
.more1 img {
	vertical-align: -1px;
}
.news {
	line-height: 2em;
	padding: 5px 0;
}
.news dt {
	padding: 0 16px;
	padding-top: 5px;
	float: right
}
.news dt img {
	margin: 0 5px;
}
.news dd {
	padding: 0 16px;
}
.news dd .txt {
	float: left;
	overflow: hidden;
	width: 100px;
}
.news dd .txt a {
	white-space: nowrap;
	color: #666;
}
.news dd .txt a:hover {
	text-decoration: underline;
}
.news dd .time {
	float: right;
	color: #999;
	white-space: nowrap;
}
.calcLink {
	padding: 5px 0;
}
.calcLink li {
	width: 200px;
	float: left;
	line-height: 2em;
	text-indent: 18px;
	font-size: 14px;
}
.calcLink li a {
	color: #666;
}
.calcLink li a:hover {
	text-decoration: underline;
}
.appList {
	line-height: 2em;
	padding: 5px 5px 5px 16px;
}
.appList .pic {
	float: left;
	width: 40px;
	text-align: left;
	margin-top: 1px;
}
.appList .txt {
	float: left;
	color: #666;
}
.appList .txt .shd {
	font-size: 14px;
	line-height: 1em;
}
.appList .txt .shd a {
	color: #333;
}
.appList dd a {
	color: #666;
}
.appList a:hover {
	text-decoration: underline;
}
